h1 {
    font-size: 64px;
    color: black
}

h2 {
    font-weight: 500;
    font-size: 44px;
    color: black;
}

a {
    color: red
}

    {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: url(https://freelance.ru/img/portfolio/pics/00/2B/65/2843982.jpg)
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.menu {
    padding-left: 50px;
}

.menu a:hover {
    text-decoration: none;
    color: blue;
}

.menu a li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around
}

.forma form {
    display: flex;
    flex-direction: column;
}

.forma input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    width: 250px;
    height: 30px;
}

.button {
    background: red;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500. font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase.
}
.otziv {
    font-size: 30px
}